

@{
    ViewBag.Title = "kaydet";
    Layout = "~/Views/Shared/_LayoutMavi.cshtml";
}

<section id="mu-reservation">
    <div class="container">
        <div class="row">
            <center>
                <br />
                <br />
                <h1>Sayfamız Yapım Aşamasındadır..</h1>
                <h2><p>Güncellemelerden haberdar olmak için lütfen yakın gelecekte tekrar ziyaret edin..</p></h2>
            </center>

        </div>
    </div>

</section>


