@model List<MAVİRESTAURANT.Models.Entity.Urunler>
<script>
    $(document).ready(function myfunction() {
        $(".sepeteAt").click(function myfunction() {

            var uid = $(this).attr("name");
            $.ajax({
                type: "GET",
                url: "/Anasayfa/SepeteEkle",
                data: { id: uid },
                success: function myFunction() {
                    alert("Ürün Sepete Eklendi");
                    $.ajax({
                        type: "GET",
                        url: "/Anasayfa/MiniSepetWidget",
                        success: function VeriGetir(veri) {
                            $(".cart-all").html('');
                            $(".cart-all").html(veri);
                        }
                    });
                },
                error: function myFunction() {
                    alert("Ürün Ekleme Başarısız!");
                }
            })
        });
    });
</script>

<div class="row">
    @foreach (var urun in Model)
    {
        if (urun.Durum == true)
        {

          <div class="single__food__list d-flex wow fadeInUp">
            
                        <div class="food__list__thumb">
                           
                               
                                <img src="~/Content/Mavi/img/menu/@urun.Resim.ResimAd" alt="list food images">
                            
                        </div>
                    
                        <div class="food__list__inner d-flex align-items-center justify-content-between">
                            <div class="food__list__details">
                                @*<h2</h2>*@
                                <h3>@urun.UrunAd</h3>
                                <hr />
                                @urun.Aciklama
                                <div class="list__btn">
                                    <a name="@urun.UrunId" class="sepeteAt food__btn grey--btn theme--hover">Sipariş Ver</a>
                                </div>
                            </div>
                            <div class="food__rating">
                                <div class="list__food__prize">
                                    <span>@urun.Fiyat ₺</span>
                                </div>
                               
                            </div>
                        </div>
                  
          </div>
        }
        <!-- End Single Food -->

     }

</div>